<?xml version="1.0" encoding="UTF-8" ?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android" id="nl-afas-cordova-plugin-chromecastremotedisplay" version="0.1.0">

    <name>Chomecast Remote display plugin</name>
    <description>Chomecast Remote display plugin</description>
    <license>MIT</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>

    <js-module src="www/plugins.chromeCastRemoteDisplay.js" name="ChromeCastRemoteDisplay">
        <clobbers target="cordova.plugins.ChromeCastRemoteDisplay" />
    </js-module>

    <!-- iOS -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ChromeCastRemoteDisplay">
                <param name="ios-package" value="ChromeCastRemoteDisplay" />
            </feature>
        </config-file>
        <source-file src="src/ios/ChromeCastRemoteDisplay.m" />
        <header-file src="src/ios/ChromeCastRemoteDisplay.h" />       
        <source-file src="src/ios/ChromecastDeviceController.m" />
        <header-file src="src/ios/ChromecastDeviceController.h" />       
        <source-file src="src/ios/DeviceTableViewController.m" />
        <header-file src="src/ios/DeviceTableViewController.h" />               
        <resource-file src="src/ios/CastComponents.storyboard" />

      <framework src="Accelerate.framework" />
      <framework src="libz.tbd" />
      <framework src="libsqlite3.tbd" />
      <framework src="libstdc++.tbd" />
      <framework src="SystemConfiguration.framework" />
      <framework src="MediaPlayer.framework" />
      <framework src="CFNetwork.framework" />
      <framework src="CoreBluetooth.framework" />
      <framework src="GoogleCastRemoteDisplay.framework" />
      <framework src="GoogleCast.framework" />
    </platform>

	
</plugin>
